.div-form{
	display: flex;
    justify-content: center; /* Centre le panneau horizontalement */
    align-items: center; /* Centre le panneau verticalement */
    flex-direction: column;

}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    margin-right: 15px;
}

.input-group label {
    display: block;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-group input:focus {
    border-color: #4CAF50;
    outline: none;
}

.login-btn {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #3584e4;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #3584e4;
}

.login-btn:active {
    background-color: #3584e4;
}

.register-text {
    font-size: 14px;
    color: #333;
    margin-top: 10px;
}

.register-link {
    color: #3584e4;
    text-decoration: none;
    font-weight: bold;
}

.register-link:hover {
    text-decoration: underline;
}